
.titre-stage
{
    margin-top : 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.stage {
    margin: 40px auto;
    max-width: 1000px; 
    padding: 20px;
    
}

.stage-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background: #292b2e;
    margin-bottom: 300px; 
    
    
}

.presentation-titre
{
    margin-bottom: 60px;
}

.entreprise-presentation
{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 300;
    gap: 20px;
    margin-bottom: 300px; 
}

.stage-details {
    text-align: left; 
    width: 60%; 
}

.stage-localisation {
    width: 500px;
    border-radius: 20px;
}



strong{
    color:#b12020;
}

.presentation-texte {
    text-align: justify; 
    line-height: 1.6;    
    margin: 20px 0;     
}

.service {

   
    align-items: center;
    margin-bottom: 400px; 
    font-size: 1.25rem;
    font-weight: 300;

}